*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

body > * {
  flex-shrink: 0;
}

label {
  cursor: pointer;
}

.bgcolor {
  background-color: #F2F8F6;
}

.none {
  display: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.title {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 20px;
}

.title-green {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.0;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15D784;
}
.title-1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.0;
  color: #FFFFFF;
}
.title-2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.0;
  text-align: center;
  color: #2E2E2E;
}

.header {
  height: 870px;
  position: relative;
  background-image: url(./../img/header/header_fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
}
.header__wrapper {
  padding-top: 60px;
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: white;
}
.header__btns {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.header__content {
  margin-top: 140px;
  text-align: center;
}
.header__text {
  width: 730px;
  margin: 40px auto 70px;
}
.header__text p {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.header__form {
  margin-left: auto;
  margin-right: auto;
}
.header__form input {
  width: 240px;
  padding: 21px 134px 22px 30px;
  margin-right: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  border-radius: 30px;
  color: white;
  border: #000;
  background: rgba(0, 0, 0, 0.75);
}
.header__scroll {
  position: absolute;
  left: calc(50% - 16px);
  bottom: 100px;
}

.button__form {
  padding: 21px 40px 22px;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 30px;
  border: #00C470;
  background-color: #00C470;
}
.button__transparent {
  padding: 21px 40px 22px;
  margin-bottom: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 4px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0);
  color: #FFFFFF;
}
.button__transparent--white {
  background: #FFFFFF;
  color: #2E2E2E;
}

.button-round {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
  border: 0;
  cursor: pointer;
}
.button-round-round:hover {
  background: #00C470;
}

.block {
  width: 270px;
  text-align: center;
}
.block img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.block__bold {
  margin-bottom: 20px;
}
.block b {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.0;
  color: #2E2E2E;
}
.block p {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #808080;
}

.main__functional {
  padding: 80px 0;
  margin-left: auto;
  margin-right: auto;
  background: #E5E5E5;
}
.main__functional .title-green {
  margin-bottom: 40px;
}
.main__functional .title-2 {
  margin-bottom: 70px;
}
.main__functional-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.main__to-plug {
  padding-top: 83px;
  padding-bottom: 84px;
  text-align: center;
  background-image: url(./../img/main/use_unit.jpg);
}
.main__to-plug p {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.0;
  color: #FFFFFF;
}
.main__to-plug button {
  margin-top: 40px;
}

.main__midle {
  background: #E5E5E5;
}
.main__iphone-row {
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 40px;
  width: 956px;
  -webkit-box-align: center;
          align-items: center;
  border-bottom: 1px solid #E1E1E1;
  display: -webkit-box;
  display: flex;
}
.main__iphone-content {
  margin-right: 70px;
}
.main__iphone-content .title-2 {
  margin-bottom: 30px;
}
.main__iphone-content .title-green {
  margin-bottom: 39px;
  text-align: left;
}
.main__iphone-text {
  width: 400px;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #808080;
}
.main__iphone__iphone-x {
  width: 356px;
  height: 602px;
}

.main__ipad-row {
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 40px;
  width: 1170px;
  border-bottom: 1px solid #E1E1E1;
  display: -webkit-box;
  display: flex;
}
.main__ipad-content .title-2 {
  margin-bottom: 30px;
  text-align: left;
}
.main__ipad-content .title-green {
  margin-bottom: 30px;
  text-align: left;
}
.main__ipad-text {
  width: 400px;
  margin-bottom: 132px;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #808080;
}
.main__ipad-pro {
  margin-right: 130px;
}

.main__prices {
  padding-top: 90px;
  padding-bottom: 100px;
  text-align: center;
  background-image: url(./../img/main/price.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main__prices .title-2 {
  margin-bottom: 80px;
  color: #FFFFFF;
}
.main__prices-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  gap: 30px;
}
.main__price {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.0;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.pocket {
  width: 300px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}
.pocket__header {
  padding-bottom: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.pocket__name {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.0;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #B2B2B2;
}
.pocket .price {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.pocket .price__text {
  margin-top: 40px;
  margin-bottom: 58px;
  font-weight: 500;
  font-size: 16px;
  line-height: 2.5;
  color: #FFFFFF;
}
.pocket .monthly-price {
  width: 93px;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 15px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
}
.pocket .monthly-price p {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.0;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.pocket--white {
  background: rgba(48, 79, 254, 0.95);
}
.pocket--white__name {
  color: #FFFFFF;
}
.pocket--white .monthly-price {
  background: rgba(0, 0, 0, 0.1);
}

/*# sourceMappingURL=main.css.map */