.button {
    &__form {
        padding: 21px 40px 22px;

        font-weight: 800;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 4px;
        text-transform: uppercase;

        color: #fff;
        border-radius: 30px;
        border: #00C470;
        background-color: #00C470;

        &:hover {
            
        }
    }

    &__transparent  {
        padding: 21px 40px 22px;
        margin-bottom: 40px;

        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 30px;

        font-weight: 800;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 4px;
        text-transform: uppercase;

        background: rgba(0, 0, 0, 0);
        color: #FFFFFF;

        &--white    {
            background: #FFFFFF;
            color: #2E2E2E;
        }
    }
}



.button-round {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #fff;
    border: 0;
    cursor: pointer;

    
    &-round:hover {
        background: #00C470;
    }
}
