.button {
    &__form {
        padding: 21px 40px 22px;

        font-weight: 800;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 4px;
        text-transform: uppercase;

        color: #fff;
        border-radius: 30px;
        border: #00C470;
        background-color: #00C470;

        &:hover {
            
        }
    }
}



.button-round {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #fff;
    border: 0;
    cursor: pointer;
    
    __form

    
    &-round:hover {
        background: #00C470;
    }
}
