.title  {
    &-1 {
        font-weight: 700;
        font-size: 96px;
        line-height: 1.0;

        color: #FFFFFF;
    }

    &-2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 1.0;
        text-align: center;

        color: #2E2E2E;
    }
}