.main   {
    &__tasks {
        background: #E5E5E5;
    }

    &__tasks-row    {
        margin-right: auto;
        margin-left: auto;
        padding-top: 80px;
        padding-bottom: 40px;
        width: 956px;

        align-items: center;
        border-bottom:  1px solid #E1E1E1;
        display: flex;
    }

    &__tasks-content    {
            margin-right: 70px;
        .title-2    {
            margin-bottom: 30px;
        }
        
        .title-green   {
            margin-bottom: 39px;
            text-align: left;
        }
    }
    
    &__tasks-text   {
        width: 400px;

        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
            
        color: #808080;
    }

    &__tasks-img    {
        width: 356px;
        height: 602px;
    }
}